---
import openingsuren from "../images/icons/openingsuren-icoon.svg";
import telefoonnummer from "../images/icons/telefoon-icoon.svg";
import email from "../images/icons/email-icoon.svg";
import plaats from "../images/icons/plaats-icoon.svg";
import facebook from "../images/icons/facebook-icoon.svg";
import instagram from "../images/icons/instagram-icoon.svg";
---
<footer class="bg-slate-900 pt-24 pb-8 text-white ">
    <div class="px-8">
        <div class="mx-auto max-w-screen-xl grid grid-cols-2 md:grid-cols-3 gap-16 lg:gap-32 justify-between">
            <div class="col-span-2 md:col-span-1 order-last md:order-none">
                <a href="/" class="flex items-center">
                    <img src="/logo/newfront-white.svg" alt="NewFront webdesign logo" class="h-16 mb-4">
                </a>
                <div>De specialist in websites voor kleine en middelgrote ondernemingen. Sinds 2015 streven we naar de ultieme prijs-kwaliteitverhouding voor al onze klanten. Gelegen in de parel van de Kempen te Westerlo.</div>
                <a href="/" class="border-white border-2 border-solid py-2 px-6 rounded-full inline-block mt-8">Start nu</a>
            </div>
            <div class="col-span-1">
                <h6 class="mb-8 text-2xl uppercase">Navigatie</h6>
                <div class="flex gap-6 lg:gap-24">
                    <ul>
                        <li>Home</li>
                        <li>Over ons</li>
                        <li>Webdesign</li>
                        <li>Prijzen</li>
                    </ul>
                    <ul>
                        <li>Blog</li>
                        <li>Veelgestelde vragen</li>
                        <li>Contact</li>
                    </ul>
                </div>

            </div>
            <div class="col-span-1">
                <h6 class="mb-8 text-2xl uppercase">Contact info</h6>
                <ul>
                    <li><img src={openingsuren.src} alt="openingsuren icoon" class="w-4 fill-white inline mr-2">24/7</li>
                    <li><img src={telefoonnummer.src} alt="openingsuren icoon" class="w-4 fill-white inline mr-2">0496 99 01 30</li>
                    <li><img src={email.src} alt="openingsuren icoon" class="w-4 fill-white inline mr-2">nick@newfront.be</li>
                    <li><img src={plaats.src} alt="openingsuren icoon" class="w-4 fill-white inline mr-2">Westerlo, België</li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="h-px my-8 bg-slate-800 border-0 dark:bg-gray-700">

    <div class="px-4 mx-auto max-w-screen-xl grid grid-cols-3 gap-4 justify-between">
        <div class="col-span-3 md:col-span-1">
            <a href="https://www.facebook.com/newfront.be/" target="_blank" rel="nofollow"><img src={facebook.src} alt="facebook icoon" class="h-4 mr-2 fill-white inline"></a>
            <a href="https://www.instagram.com/newfront.be/" target="_blank" rel="nofollow"><img src={instagram.src} alt="instagram icoon" class="h-4 fill-white inline"></a>
        </div>
        <span class="col-span-3 md:col-span-1 text-left md:text-center">Copyright © 2024 - NewFront.</span>
        <a href="/" class="col-span-3 md:col-span-1 text-left md:text-right">Privacybeleid</a>
    </div>
</footer>